.card {
  border-color: var(--primary-black-50);
  border-radius: 10px;
}

.reg {
  border: 1px solid var(--primary-blue);
  border-radius: 8px;
  width: 95px;
  height: 31px;
  line-height: 29px;
  text-align: center;
}
