.card {
  background-color: var(--primary-blue-10);
  border: 1px solid var(--primary-black-50);
  border-radius: 10px;

  &.inset {
    border: none;
    background-color: transparent;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 16px;
}

.middle {
  text-align: center;
}

.showClass {
  color: var(--primary-blue);
}
