.cards {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  width: 100%;
  border: 1px solid var(--primary-black-50);

  &__button {
    border-color: var(--primary-blue);
  }
}

.promo {
  &-error {
    height: 50px;
  }
}
