.header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 32px 64px;
  
  &__hamburger {
    display: none;
  }

  &__toggler {
    border: none;
    background-color: transparent;
    border-radius: 3px;
    width: 30px;
    height: 24px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 2px 0;
  }
  &__toggler .line1,
  &__toggler .line2,
  &__toggler .line3 {
    width: 100%;
    height: 2px;
    background-color: var(--primary-black);
  }
  &__toggler .line2 {
    width: 16px;
  }
  &__toggler.active .line1 {
    transform: rotate(45deg) translateY(9px) translateX(3px);
  }
  &__toggler.active .line2 {
    display: none;
  }
  &__toggler.active .line3 {
    transform: rotate(-45deg) translateY(-3px) translateX(-3px);
  }
}


@media screen and (max-width: 1199px) {
  .header__hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
