.ant-card-type-inner .ant-card-body {
  padding: var(--ant-padding) 0;
}

.ant-input-number-action-down {
  border-inline-end: none !important;
}

.ant-input-number-action-up {
  border-inline-start: none !important;
}

@media screen and (max-width: 800px) {
  .ant-radio-label {
    font-size: 12px;
  }
}
